$foreground: rgba(0, 0, 0, 0.5);
$secondary: #a097e8;
$primary: #9e89e8;
$background: #3838b0;
$section: rgba(0, 0, 0, 0.4);

@mixin glow($size, $color) {
  $all: ();
  @for $i from 1 through 5 {
    $all: append($all, 0 0 ($i*$i*$size) + px $color, comma);
  }
  @warn $all;
  text-shadow: $all;
}
