dialog {

  background-color: $background;
  color: white;
  border: none;
  width: 50vw;
  padding: 2em;
  overflow: auto;

  .title {
    padding-top: 0.5em;
  }

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  @media screen and (max-width: 600px) {
    padding: 1.5em 1em;
    width: 80vw;
    height: 80vh;
  }
}

.dialog-enter-active, .dialogbg-enter-active, .dialog-leave-active, .dialogbg-leave-active {
  transition: opacity 0.2s;
}

.dialog-enter, .dialog-leave-to, .dialogbg-enter, .dialogbg-leave-to {
  opacity: 0;
}
