@import 'colors';

.chart-container {
  position: relative;
  width: 100%;
  height: 20em;
  border-bottom: 0.2em solid transparentize($primary, 0.3);
  border-left: 0.2em solid transparentize($primary, 0.3);
  background-color: $section;
}

.chart {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;

  polyline {
    stroke: transparentize($primary, 0.3);
  }

  circle {
    fill: opacify(transparentize($primary, 0.5), 0.2);
  }

  g:nth-child(2) {
    polyline {
      stroke: transparentize($secondary, 0.3);
    }

    circle {
      fill: transparentize($secondary, 0.2);
    }
  }

  g:nth-child(3) {
    polyline {
      stroke: rgba(214, 229, 255, 0.5);
    }

    circle {
      fill: opacify(rgba(214, 229, 255, 0.5), 0.2);
    }
  }

  g:nth-child(4) {
    polyline {
      stroke: rgba(82, 117, 178, 0.5);
    }

    circle {
      fill: opacify(rgba(82, 117, 178, 0.5), 0.2);
    }
  }

  g:nth-child(5) {
    polyline {
      stroke: rgba(44, 58, 104, 0.5);
    }

    circle {
      fill: opacify(rgba(44, 58, 104, 0.5), 0.2);
    }
  }

  g:nth-child(6) {
    polyline {
      stroke: rgba(154, 180, 186, 0.5);
    }

    circle {
      fill: opacify(rgba(154, 180, 186, 0.5), 0.2);
    }
  }

  g:nth-child(7) {
    polyline {
      stroke: rgba(104, 122, 142, 0.5);
    }

    circle {
      fill: opacify(rgba(104, 122, 142, 0.5), 0.2);
    }
  }

  g:nth-child(8) {
    polyline {
      stroke: rgba(101, 151, 206, 0.5);
    }

    circle {
      fill: opacify(rgba(101, 151, 206, 0.5), 0.2);
    }
  }

  g:nth-child(9) {
    polyline {
      stroke: rgba(206, 238, 255, 0.5);
    }

    circle {
      fill: opacify(rgba(206, 238, 255, 0.5), 0.2);
    }
  }

  g:nth-child(10) {
    polyline {
      stroke: rgba(188, 188, 188, 0.5);
    }

    circle {
      fill: opacify(rgba(188, 188, 188, 0.5), 0.2);
    }
  }
}

.tooltip {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 0.5em;
  padding: 0.3em 0.5em;
  font-size: 0.8em;
  transition: opacity 0.07s;
}

.container-container {
  margin-bottom: 1em;
}

.labels {
  height: 1.2em;

  @media screen and (max-width: 768px) {
    font-size: 0.8em;
  }

  display: flex;
  justify-content: space-between;
  .label {
    display: inline-block;
  }
}
