$foreground: rgba(0, 0, 0, 0.5);
$secondary: #afafaf;
$primary: #5e5e5e;
$background: #00251a;
$section: rgba(0, 0, 0, 0.4);

@mixin glow($size, $color) {

}

:export {
  primary: $primary;
  secondary: $secondary;
}
