$foreground: rgba(0, 0, 0, 0.5);
$secondary: #00bcd4;
$primary: #00acc1;
$background: #00695c;
$section: rgba(0, 0, 0, 0.4);

@mixin glow($size, $color) {
  $all: ();
  @for $i from 1 through 5 {
    $all: append($all, 0 0 ($i*$i*$size) + px $color, comma);
  }
  @warn $all;
  text-shadow: $all;
}
