@import 'colors';

.challengeList {
  font-size: 0.8em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 700px) {
    justify-content: center;
  }

  .challenge {
    flex-wrap: wrap;
    background-color: $foreground;
    transition: background-color 0.3s;
    padding: 2.1em 2em;
    margin: 1em;
    width: 12em;
    cursor: pointer;
    height: 8em;

    &.solved {
      background-color: transparentize($primary, 0.3);
    }

    &:hover {
      background-color: transparentize($secondary, 0.3);
    }

    *:last-child {
      margin-bottom: 0;
    }

    .title {
      margin-bottom: 0.3em;
      font-size: 1.5em;
    }

    .value:after {
      content: " points, "
    }

    .solves:after {
      content: " solves"
    }

    .value, .solves {
      display: inline;
    }

    h1 {
      margin-top: 0;
    }
  }
}

.challengeModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  top: 0;
  left: 0;

  * {
    pointer-events: auto;
  }

  .title, .category {
    overflow-wrap: normal;
    display: inline;
  }

  .category {
    font-family: 'Orbitron';
    font-size: 2em;
  }

  .category:before {
    content: '\200b\2219';
    font-weight: 700;
    padding: 0.5em;
  }

  .value:before {
    content: "";
    display: block;
    height: 0.6em;
  }

  .value, .solves {
    display: inline;
  }

  .value:after {
    content: " points, ";
  }

  .solves:after {
    content: " solves";
  }

  .flagInput {
    width: calc(100% - 0.8rem);
  }

  .hint {
    padding-left: 0.7em;
    background-color: $section;
    border: 0.1em solid $section;
    border-radius: 0.2em;
    color: white;
    transform-origin: top center;
    margin-top: 0;
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 0.5em;

    &.challengeHintTransition-leave-to {
      transform: scaleY(0);
      max-height: 0;
    }
    &.challengeHintTransition-leave-active {
      transition: max-height 0.25s cubic-bezier(0, 1, 0, 0.79);
      transform: scaleY(1);
    }
    &.challengeHintTransition-enter-active {
      transition: transform 0.5s ease;
      transition: max-height 1s ease;
    }
    &.challengeHintTransition-enter {
      transform: scaleY(0);
      max-height: 0;
    }
  }
}

.categoryList {
  list-style-type: none;
  .categoryTitle {
    font-size: 0.8em;
    float: left;
    width: 15em;
    padding-top: 5em;
    text-transform: uppercase;

    h2 {
      margin-top: 0;
    }

    @media only screen and (max-width: 700px) {
      float: none;
      font-size: 1em;
      text-align: center;
      width: 100%;
      padding-top: 2em;
    }
  }

  @media only screen and (max-width: 700px) {
    padding-left: 0;
  }
}

.hideSolves {
  height: 0 !important;
  overflow: hidden !important;
  padding: 0;
  margin: 0;
 }

.solveTable {
  height: 10em;
  display: block;
  overflow-y: scroll;
  transition: height 0.3s;
  margin-bottom: 1em;
  table-layout: fixed;
  td, th {
    width: 1%;
  }

  a {
    font-weight: bold;
  }
  a:hover {
    text-decoration: inherit;
    color: darken(#bcbcbc, 20%);
  }
}